/* APP Header */

.app-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-width: 380px;
    padding: 20px;
    background: linear-gradient(-225deg, #ce9bd1 0%, #4070c4 100%);
    gap: 10px;
    color: black;   
    
    .app-nav{
        display: flex;
        justify-content: space-between;
        grid-column-start: 2;
    }
}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.active {
    color: white;
    scale: 1.3;
    text-decoration: underline;
}