.books-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    list-style: none;
    gap: 15px;
}

.books-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    gap: 10px;
}

.books-list li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    background-color: #7480C9;
    border-radius: 8px;
    --animate-duration: 0.4s;
}

.books-list ul li {
    display: flex;
    position: relative;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    border-radius: 15px;
    gap: 5px;
    padding: 10px;
    background: linear-gradient(360deg, #4070c4, #a7ffd6);
}

.close {
    position: absolute;
    border-radius: 50%;
    top: -7px;
    right: -7px;
    background: rgb(207, 158, 158);
}

.books-list li:hover img {
    animation: bounceIn;
    animation-duration: 2s;
}

.btn-action{
    gap: 10px;
    display: flex;
}