/* Book List CSS*/

.books-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    list-style: none;
    gap: 15px;
    padding: 0px 80px;
}

.books-list li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--clr2bg);
    color: var(--clr2);
    border-radius: 8px;
    min-height: 400px;
    --animate-duration: 0.4s;
}

.close {
    position: absolute;
    border-radius: 50%;
    top: -7px;
    right: -7px;
    background: rgb(207, 158, 158);
}

.books-list li:hover img {
    animation: bounceIn;
    animation-duration: 2s;
}

.btn-action{
    display: flex;
    gap: 10px;
}