.books-filter {
    padding: 10px;
    background: #7480C9;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5px;

    input{
        border-radius: inherit;
    }
}

