.book-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 5px;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}

.on-sale-icon {
    position: absolute;
    width: 100px;
    top: 20%;
    transform: rotate(-30deg);
    right: 0px;
    bottom: 0px;
}

.read-more {
    color: blue;
}

.read-more:hover {
    cursor: pointer;
}

.book-nav {
    display: flex;
    align-self: center;
    gap: 5px;
}