/* Book Filter CSS*/

.books-filter {
    padding: 10px;
    background: var(--clr2bg);
    /* border-radius: 5px; */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--clr2);

    input{
        border-radius: inherit;
    }
}

