/* ABOUT US CSS */

.about-us{
    padding: 0px 80px;
}

.about p {
    margin-block-start: 10px;
}

.about nav {
    display: flex;
    gap: 10px;
}

.about nav a {
    color: blue;
    text-decoration: underline;
}

.about h4 {
    margin-block-start: 10px;
}

.about-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
}