/* Book Edit CSS */

.book-edit {
    justify-self: center;
    margin: 20px 10px;
    padding: 20px;
    background-color: rgba(180, 188, 204, 0.514);
    border-radius: 15px;
}

.book-edit form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    width: fit-content;
    gap: 10px;
    margin-block-start: 20px;
}

.book-edit form input {
    width: 200px;
}

.book-edit form button {
    justify-self: center;
    grid-column: 1/-1;
}

.book-edit h2 {
    margin-block-end: 20px;
}

.bnt-action{
    display: flex;
    justify-content: space-between;
}