/* Book Details CSS */

.book-details {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    margin-block-start: 20px;
    border-radius: 15px;

    padding: 10px;
    background: #81cde0c7;

    .btn-action{
        display: flex;
        gap: 10px;
        margin: 5px;
    }

    p,
    button{
        align-self: baseline;
    }
}

.book-details .book-details-nav {
    display: flex;
    gap: 10px;
}

.bold-txt {
    font-weight: bold;
}

.book-details h2 {
    font-weight:normal

    span{
        text-align: center;
    }
}

.highPrice {
    color: red;
}

.lowPrice {
    color: green;
}

.on-sale {
    color: red;
    padding: 4px 8px;
}


.book-details .book-img {
    width: 200px
}

.brake-line {
    height: 2px;
    background: black;
    width: 100%;
}