.not-found-container {
    text-align: center;
    font-size: larger;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    p {
        opacity: 0.7;
        padding-bottom: 5rem;
    }

    h2 span {
        color: rgba(255, 0, 0, 0.533);
    }

    a:hover {
        text-decoration: underline;
    }
}

.not-found {
    text-align: center;
    margin: 5rem auto;
    width: fit-content;
}